.playAreaContainer {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
  padding-left: 2rem;
}
.playAreaContainer div {
  border-radius: 10px;
}
.playAreaContainer .row1Playarea {
  display: grid;
  height: 40%;
  gap: 0.6rem;
  grid-template-columns: 80% 20%;
}
.playAreaContainer .row1Playarea .col1row1pa {
  background-color: #db3e33;
}
.playAreaContainer .row1Playarea .col1row1pa .dialogPlayArea {
  font-size: 30px;
  padding: 2rem 2rem 2rem 2rem;
  font-weight: 600;
}
.playAreaContainer .row1Playarea .col2row1pa {
  background-color: #0a3034;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.playAreaContainer .row1Playarea .col2row1pa span {
  font-family: "Chakra Petch", sans-serif;
  font-size: 80px;
}
.playAreaContainer .row1Playarea .col2row1pa button {
  all: unset;
  background-color: #f6fdfd;
  height: 2.5rem;
  width: 8rem;
  border-radius: 10px;
  text-align: center;
  color: #db3e33;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}
.playAreaContainer .row1Playarea .col2row1pa button:hover {
  background-color: #8f2119;
}
.playAreaContainer .row2playarea {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 0.6rem;
  height: 30%;
}
.playAreaContainer .row2playarea .col1row2pa {
  background-color: #f6fdfd;
}
.playAreaContainer .row2playarea .col1row2pa .ongoinggamearea {
  display: grid;
  grid-template-rows: 8fr 1.35fr;
}
.playAreaContainer .row2playarea .col1row2pa .ongoinggamearea .hintswindow {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
}
.playAreaContainer .row2playarea .col1row2pa .ongoinggamearea .hintswindow .guessiconPa {
  color: black;
  font-family: "Chakra Petch", sans-serif;
  font-size: 60px;
}
.playAreaContainer .row2playarea .col1row2pa .ongoinggamearea .hintsPa {
  color: #062123;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.playAreaContainer .row2playarea .col1row2pa .ongoinggamearea .hintsPa button {
  all: unset;
  color: #f6fdfd;
  background-color: #0a3034;
  width: 10rem;
  text-align: center;
  height: 2rem;
  cursor: pointer;
  border-radius: 10px;
}
.playAreaContainer .row2playarea .col1row2pa .ongoinggamearea .inputFPa {
  display: flex;
  gap: 2rem;
}
.playAreaContainer .row2playarea .col1row2pa .ongoinggamearea .inputFPa input {
  all: unset;
  margin-left: 2rem;
  text-align: center;
  color: #8f2119;
  border: solid 1px #8f2119;
  border-radius: 10px;
  height: 2rem;
}
.playAreaContainer .row2playarea .col1row2pa .ongoinggamearea .inputFPa button {
  all: unset;
  background-color: #8f2119;
  height: 2rem;
  border-radius: 10px;
  width: 5rem;
  text-align: center;
  cursor: pointer;
}
.playAreaContainer .row2playarea .col2row2pa {
  background-color: #8f2119;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.playAreaContainer .row2playarea .col2row2pa .pointsMap {
  display: flex;
  gap: 2rem;
}/*# sourceMappingURL=PlayArea.css.map */